<h3>Latest match score ({{scoreData.data.content.matchScore.hasEnded ? 'Ended' : 'Ongoing'}})</h3>

<table class="score-table">
  <tr>
    <td colspan="5">PREVIOUS SETS</td>
    <td>Players</td>
    <td>SETS</td>
    <td>GAMES</td>
    <td>POINTS</td>
  </tr>
  <tr>
    <td>{{scoreData.data.content.previousSets[0] ? scoreData.data.content.previousSets[0].scorePlayerA.games : ''}}</td>
    <td>{{scoreData.data.content.previousSets[1] ? scoreData.data.content.previousSets[1].scorePlayerA.games : ''}}</td>
    <td>{{scoreData.data.content.previousSets[2] ? scoreData.data.content.previousSets[2].scorePlayerA.games : ''}}</td>
    <td>{{scoreData.data.content.previousSets[3] ? scoreData.data.content.previousSets[3].scorePlayerA.games : ''}}</td>
    <td>{{scoreData.data.content.previousSets[4] ? scoreData.data.content.previousSets[4].scorePlayerA.games : ''}}</td>
    <td>{{scoreData.data.content.playerA.name}}</td>
    <td>{{scoreData.data.content.matchScore.scorePlayerA.sets}}</td>
    <td>{{scoreData.data.content.matchScore.scorePlayerA.games}}</td>
    <td>{{scoreData.data.content.matchScore.scorePlayerA.points}}</td>
  </tr>
  <tr>
    <td colspan="9">vs</td>
  </tr>
  <tr>
    <td>{{scoreData.data.content.previousSets[0] ? scoreData.data.content.previousSets[0].scorePlayerB.games : ''}}</td>
    <td>{{scoreData.data.content.previousSets[1] ? scoreData.data.content.previousSets[1].scorePlayerB.games : ''}}</td>
    <td>{{scoreData.data.content.previousSets[2] ? scoreData.data.content.previousSets[2].scorePlayerB.games : ''}}</td>
    <td>{{scoreData.data.content.previousSets[3] ? scoreData.data.content.previousSets[3].scorePlayerB.games : ''}}</td>
    <td>{{scoreData.data.content.previousSets[4] ? scoreData.data.content.previousSets[4].scorePlayerB.games : ''}}</td>
    <td>{{scoreData.data.content.playerB.name}}</td>
    <td>{{scoreData.data.content.matchScore.scorePlayerB.sets}}</td>
    <td>{{scoreData.data.content.matchScore.scorePlayerB.games}}</td>
    <td>{{scoreData.data.content.matchScore.scorePlayerB.points}}</td>
  </tr>
</table>

<p ng-if="scoreData.data.content.matchScore.hasEnded">
  Winner: {{scoreData.data.content.matchScore.lastPoint === 'PLAYER_A' ? scoreData.data.content.playerA.name : scoreData.data.content.playerB.name}}
</p>

<h3 ng-if-start="longVersion">Match details</h3>

<div ng-if-end class="score-log">
  <p ng-repeat-start="score in scoreData.data.content.matchScoreLog" ng-if="$index > 0">
    <i>   Point <strong>{{scoreData.data.content['player' + score.lastPoint].name}}</strong>!</i>
  </p>
  <p>
    {{scoreData.data.content.playerA.name + ' vs ' + scoreData.data.content.playerB.name + ': Points: ' + score.scorePlayerA.points
    + ' - ' + score.scorePlayerB.points + ', Games: ' + score.scorePlayerA.games + ' - ' + score.scorePlayerB.games + ', Sets: ' + score.scorePlayerA.sets + ' - ' + score.scorePlayerB.sets}}
  </p>
  <p ng-repeat-end ng-if="scoreData.data.content.matchScore.hasEnded && $last">
    Winner: {{scoreData.data.content.matchScore.lastPoint === 'PLAYER_A' ? scoreData.data.content.playerA.name : scoreData.data.content.playerB.name}}
  </p>
</div>
